<!--
   accueil.html
   
   Copyright 2018 Julie <Julie@LAPTOP-86JN4I3F>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<!--xml:lang = langue pour le lecteur d'écran-->

<head>
	<title>BDAN</title>
	<link rel="shortcut icon" href="{% static 'images/image.ico' %}>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css2/body.css' %}">
	<link rel="stylesheet" href="{% static 'css2/header.css' %}">
	<link rel="stylesheet" href="{% static 'css2/diff.css' %}">
	<link rel="stylesheet" href="{% static 'css2/choix.css' %}">
	<link rel="stylesheet" href="{% static 'css2/techno.css' %}">
	<link rel="stylesheet" href="{% static 'css2/footer.css' %}">
	<link rel="stylesheet" href="{% static 'css2/memenu.css' %}">
</head>

<body>

<header>
	<img class="logo" alt="logo du site, retour vers l'accueil" title="Accueil" width="70" src="{% static 'images/image.png' %}">
	<nav class="menu">
		<a href="{% url 'index' %}"><i class="fas fa-home"></i>Accueil</a>
		<a href="{% url 'subform' %}"><i class="fas fa-upload"></i> Soumettre une technologie</a>
		<a href="{% url 'about' %}"><i class="fas fa-child"></i> A propos</a>
		<a href="{% url 'contact' %}"><i class="fas fa-paper-plane"i></i> Contact</a>
		<a href="page_aide"><i class="fas fa-question-circle"></i> Aide</a>
		<a href="page_paramettres"><i class="fas fa-cog"></i> Paramètres</a>
	</nav>
	<h1 class="titre">Banque de donnée d'assistance numérique</h1>
	
<!--fonction de recherche-->

	<form class="rech" role="search" method="get" id="searchform" action="{% url 'search' %}">
    	{% csrf_token %}
		<input type="search" name="q"  placeholder="Recherche..."><button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<p class="intro">Notre site vous propose un ensemble de technologies<br />qui vous accompagnent tout au long de votre vie.</p>
</header>

<div class="diff">
	<h5><a href="{% url 'index' %}">Accueil</a></h5>
	<h2>J'ai des difficultés :</h2>
	<div class="boutons">
    	{% for diff in difficulty_list %}
        {% csrf_token %}
        <!-- j'ai essayé de corriger dirrectement mais j'ai sûrement fais des erreurs, vérifie s'il n'y a pas un problème de majuscule sur le nom des icones-->
		<a style="background-color:couleur" alt="{{ diff.name }}" href="{% url 'difficulties' %}?did={{ diff.id }}"><img style="filter: invert(1);" src="Icone/{{ diff.name }}.png"><br />{{ diff.name }}</a>
        {% endfor %}
    </div>
    
    
    {% comment %}
	<h2>J'ai des difficultés :</h2>
	<div class="boutons">
		<a style="background-color:blue" id="" alt="motrices" href="nom_page"><img style="filter: invert(1);" src="Icone/motrices.png"><br />motrices</a>
		<a style="background-color:limegreen" id="" alt="dans mes sens" href="nom_page"><img style="filter: invert(1);" src="Icone/sens.png"><br />dans mes sens</a>
		<a style="background-color:tan" id="" alt="de mémoire" href="nom_page"><img style="filter: invert(1);" src="Icone/Mémoire.png"><br />de mémoire</a>
		<a style="background-color:maroon" id="" alt="d'attention" href="nom_page"><img style="filter: invert(1);" src="Icone/Attention.png"><br />d'attention</a>
		<a style="background-color:green" id="" alt="de sommeil" href="nom_page"><img style="filter: invert(1);" src="Icone/Sommeil.png"><br />de sommeil</a>
	</div>
	<div class="boutons">
		<a style="background-color:orange" id="" alt="Planification" href="nom_page"><img style="filter: invert(1);" src="Icone/Planification.png"><br />de planification d'organisation</a>
		<a style="background-color:red" id="" alt="de communication" href="nom_page"><img style="filter: invert(1);" src="Icone/Communication.png"><br />de communication</a>
		<a style="background-color:darkblue" id="" alt="Apprentissage" href="nom_page"><img style="filter: invert(1);" src="Icone/Apprentissage.png"><br />d'apprentissage</a>
		<a style="background-color:purple" id="" alt="Sécurité" href="nom_page"><img style="filter: invert(1);" src="Icone/Sécurité.png"><br />à me sentir en sécurité</a>
		<a style="background-color:hotpink" id="" alt="Sexe" href="nom_page"><img style="filter: invert(1);" src="Icone/Sexe.png"><br />dans ma sexualité</a>
	</div>
	{% endcomment %}
</div>

<!--banner-->
<!--{% block banner_block %}{% endblock %}-->
<!--//banner-->
<!--content-->
{% block content_block %}{% endblock %}
<!--//content-->
<!--footer-->
<footer>
	<div>
		<div class="footleft"><h3>Contact</h3><p>Université de Bordeaux<br />UF Mathématiques et Interactions<br />Bât A33 - 1er étage - Bureau 113<br />351 cours de la Libération<br />33405 TALENCE<br /><br /><strong>Mail :</strong> bf-master-sc@u-bordeaux.fr<br /><br /><strong>Tel : </strong>05 40 00 24 01</p></div>
		<div class="footright"><h3>Suivez-nous</h3><div> <a href="https://www.facebook.com/univbordeaux"><i class="fab fa-facebook" style="font-size:24px;"></i></a>  <a href="https://twitter.com/univbordeaux"><i class="fab fa-twitter-square" style="font-size:24px;"></i></a>  <a href=""><i class="fab fa-google-plus-square" style="font-size:24px;"></i></a> </div><br /><a href="https://www.u-bordeaux.fr/"><img class="logoUB" alt="logo de l'université de Bordeaux" src="logoBdx.png"></a></div>
		<div class="footmidle"><h3>Mentions légales</h3><p>Conformément aux dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, le présent site est la propriété de l'université de Bordeaux<br /><br /><strong>Conception et Gestion du site: </strong><br />Les étudiants du master de Sciences Cognitives</p></div>
	</div>
</footer>
</body>
</html>
